<div class="standard-card">
    <div class="card-container">
        <div class="card">
            <div class="title-container">
                <div class="title" [innerHTML]="standardCard.title">
                </div> 
                <div class="description" [innerHTML]="standardCard.description">
                </div>
            </div>         
            <div class="card-wrapper">
                <ng-content select="[card-content]"></ng-content>   
            </div>
        </div>
    </div>
</div>
