::ng-deep {
    mat-form-field {
        &.mat-mdc-form-field {
            margin-bottom: 16px;
            letter-spacing: normal;
      
            .mat-mdc-text-field-wrapper {
                border: 2px solid #5a5b6a;
                border-radius: 8px;
              &.mdc-text-field--filled {
                background-color: #3a3b47;
              }
      
              &.mdc-text-field {
                padding: 0;
              }
      
              .mat-mdc-form-field-focus-overlay {
                background-color: #1e1e24;
              }
      
              .mat-mdc-form-field-flex {
                .mat-mdc-form-field-infix {
                  padding-top: 28px;
                  padding-left: 8px;
                  padding-bottom: 0px;
      
                  .mat-mdc-floating-label {
                    mat-label {
                        color: #b0b0c3;
                    }
      
                    .mat-mdc-form-field-required-marker {
                      display: none;
                    }
                  }
      
                  .mat-mdc-input-element { 
                   color: $stock-font-color;
                  }
      
                  .mat-mdc-input-element::placeholder {
                    color: #b0b0c3;
                  }
                }
              }
      
              //Underline Valid
              .mdc-line-ripple {
                display: none;
              }
            }
      
            .mat-mdc-form-field-subscript-wrapper {
              // Hint
              .mat-mdc-form-field-hint-wrapper {
                padding: 0px;
      
                .mat-hint {
                  margin-top: 2px;
                }
      
                .mat-mdc-form-field-hint {
                //   color: $mercantil-font-color;
                }
              }
            }
        }

        //Input Invalido
    &.mat-form-field-invalid {
        margin-bottom: 24px;
  
        .mat-mdc-text-field-wrapper {
            // border: 1px solid #cc575d;
          .mat-mdc-form-field-flex {
            .mat-mdc-form-field-infix {
              .mat-mdc-floating-label {
                // color: red;
  
                mat-label {
                //   color: red;
                }
              }
            }
          }
  
          //Underline Valid
          .mdc-line-ripple {
            &::before {
            //   border-bottom-color: $mercantil-error !important;
            //   font-family: $mercantil-font;
            }
  
            &::after {
            //   border-bottom-color: $mercantil-error !important;
            //   font-family: $mercantil-font;
            }
          }
        }
  
        .mat-mdc-form-field-subscript-wrapper {
          .mat-mdc-form-field-error-wrapper {
            padding: 0px;
  
            mat-error {
              color: #181818;
              background: #e57373;
              border: 2px solid #cc575d;
              border-radius: 0 0 10px 10px;
              padding: 5px;
              margin-top: -5px;
              letter-spacing: normal;
            }
          }
        }
      }
      //Focus 
    &.mat-focused {
        .mat-mdc-text-field-wrapper {
            border: 1px solid $stock-third;
        }
    }
    }

    
}

