<div class="header">
    <div class="menu-toggle-container">
        <div class="menu-toggle"
        [ngClass]="{ 'menu-toggle--active': openMenu }"
        (click)="toggle()">
            <span class="menu-toggle__middle-line"></span>
        </div>
    </div>
    <div class="header-container"> 
        
        <div class="logo-container">
            <div class="title">
            Stock Simulator
            </div>
            <img [src]="mainLogo" alt="Logo">
        </div>
        @if (userLogged) {
            <div class="right-side-logged">
                <stock-icon-button [button]="logoutIcon" (onClicked)="logout()"></stock-icon-button>
                <div class="profile-icon" (click)="toggleSidebar()">
                    @if (openSidebar) {
                        <img width="50px" height="50px" [src]="closeIcon" alt="cerrar">
                    }
                    @else {
                        {{ userInitials }}
                    }
                </div>
            </div>
        }
        @else {
            <div class="right-side">
                <nav class="navbar">
                    <a (click)="scroll('start')">Inicio</a>
                    <a (click)="scroll('about')">Sobre Nosotros</a>
                    <!-- <a >Contacto</a> -->
                </nav>
                
            </div>
        }
    </div>
</div>
