$stock-primary: #50C878;
$stock-secondary: #98FF98;
$stock-third: #87CEEB;
$stock-font-color: #f2f2f4;
$stock-background-primary: #1c1e27;
$stock-background-secondary: #090917;
$stock-background-hover: #2b2d38;
$stock-background-footer: #181823;
$stock-spinner-primary: #004E9B;
$stock-border-primary: #004E9B;
$stock-error: #FF3333;
$stock-strips: #3b3e4d;