/*    GENERAL FONTS   */
$stock-font: Helvetica, sans-serif;


// Typography
$stock-login-font: 32px;
$stock-h1: 24px;
$stock-h2: 20px;
$stock-h3: 18px;
$stock-h4: 16px;
$stock-h5: 14px;
$stock-h6: 12px;
$stock-footer-font: 12px;
$stock-iconography-font: 10px;


h1 { font-size: $stock-h1;}
h2 { font-size: $stock-h2;}
h3 { font-size: $stock-h3;}
h4 { font-size: $stock-h4;}
h5 { font-size: $stock-h5;}
h6 { font-size: $stock-h6;}