@import '_constants';

.icon-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  
  &.no-label {
    width: 30px;
    height: 30px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  &__text {
    font-size: $stock-h6;
    padding-top: 8px;
    color: $stock-primary;
    font-family: $stock-font;
    text-align: center;
    line-height: 16px;

  }


  &:hover {
    .icon-button__text {
      color: $stock-secondary;
    }
  }

  &:active {
    .icon-button__text {
      color: $stock-primary;
    }
  }
}