<div class="icon-button"
    (mouseup)="iconSource = icons[button.iconName + '_active']"
    (mouseout)="iconSource = icons[button.iconName + '_active']"
    (mouseover)="iconSource = icons[button.iconName + '_hover' ]"
    (mousedown)="iconSource = icons[button.iconName + '_active']"
    (click)="onClicked.emit()">
    <img [ngClass]="button.extra?.img?.style"
      [src]="iconSource"
      [alt]="button.alt">
    <span *ngIf="button.iconLabel"
      class="icon-button__text"
      [innerHTML]="button.iconLabel">
    </span>
  </div>
