<div id="buy-page">
    <stock-standard-card [standardCard]="standardCard">
       <ng-container card-content>
        <mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="formGroup" [completed]="false">
    <form [formGroup]="formGroup" class="form-container">
      <ng-template matStepLabel>Llena datos de tu compra</ng-template>
        <div class="stock-info-container">
          <mat-form-field>
            <mat-label>Ticker</mat-label>
            <input matInput formControlName="ticker" stockCapitalCase>
            @if (formGroup.get('ticker')?.hasError('required')) {
              <mat-error>Ingrese el símbolo de la acción</mat-error>
            }
            @else if (formGroup.get('ticker')?.hasError('stockNotAvailable')) {
                <mat-error>Acción no disponible</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="tel" stockOnlyNumber oninput="validity.valid||(value='');" matInput formControlName="amount">
            @if (formGroup.get('amount')?.hasError('required')) {
              <mat-error>Ingrese la cantidad a comprar</mat-error>
            }
            @else if (formGroup.get('amount')?.hasError('greaterThanZero')) {
              <mat-error>La cantidad debe ser mayor a 0</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="payment-info-container">
          <mat-form-field>
            <mat-label>Tarjeta de crédito <img src="assets/visa_logo.png" width="30px" height="auto"> </mat-label>
            <input matInput formControlName="cardNumber" type="tel" stockOnlyNumber 
                   maxlength="19" 
                  placeholder="xxxx xxxx xxxx xxxx">
            @if (formGroup.get('cardNumber')?.hasError('required')) {
              <mat-error>Ingrese el número de su Tarjeta de Crédito</mat-error>
            }
            @else if (formGroup.get('cardNumber')?.hasError('invalidCredidCard')) {
              <mat-error>Tarjeta VISA inválida</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de Expiración </mat-label>
            <input matInput formControlName="expirationDate" 
                 maxlength="19" stockCreditCardDate
                  placeholder="MM/YY">
            @if (formGroup.get('expirationDate')?.hasError('required')) {
              <mat-error>Ingrese la fecha de expiración de su Tarjeta de Crédito</mat-error>
            }
            @else if (formGroup.get('expirationDate')?.hasError('invalidDateFormat')) {
              <mat-error>Ingrese la fecha en el format MM/YY</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>CVC</mat-label>
            <input matInput formControlName="cvc" type="password" stockCVCDigits maxlength="3" 
                  placeholder="123">
            @if (formGroup.get('cvc')?.hasError('required')) {
              <mat-error>Ingrese el código cvc</mat-error>
            }
            @else if (formGroup.get('cvc')?.hasError('invalidCVC')) {
              <mat-error>El CVC debe contener 3 dígitos</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="button-container">
            <button  (click)="redirectToSummary()" class="button-wrapper secondary" >Cancelar</button>
            <button [disabled]="!formValid" class="button-wrapper primary"  (click)="verifyVisaCard(stepper)">Continuar</button>
        </div>
    </form>
  </mat-step>
  <mat-step  [editable]="false">
    <ng-template matStepLabel>Verifica su compra</ng-template>
    <div class="verification-container">
      <div class="verification-row">
        <div class="col">
          <div class="label">
            Símbolo
          </div>
          <div class="value">
            {{ formGroup.get('ticker')?.value }}
          </div>
        </div>
        <div class="col">
          <div class="label">
            Nombre de la Empresa
          </div>
          <div class="value">
            {{ stock?.name }}
          </div>
        </div>
        <div class="col">
          <div class="label">
            Sector
          </div>
          <div class="value">
            {{ stock?.description }}
          </div>
        </div>
      </div>
      <div class="verification-row">
        <div class="col">
          <div class="label">
            Cantidad
          </div>
          <div class="value">
            {{ formGroup.get('amount')?.value }}
          </div>
        </div>
        <div class="col">
          <div class="label">
            Valor
          </div>
          <div class="value">
            {{ close.toFixed(2) }}
            <b>USD</b>
          </div>
        </div>
        <div class="col">
          <div class="label">
            Precio Total:
          </div>
          <div class="value">
            {{ total.toFixed(2) }}
            <b>USD</b>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
        <button  matStepperPrevious class="button-wrapper secondary" >Regresar</button>
        <button  class="button-wrapper primary"  matStepperNext>Comprar</button>
    </div>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Compra finalizada</ng-template>
    <div class="button-container">
      <button class="button-wrapper primary" mat-button (click)="stepper.reset()">Regresar</button>
    </div>
  </mat-step>
</mat-stepper>
       </ng-container>    
    </stock-standard-card>
</div>
