<div id="edit">
    <stock-standard-card [standardCard]="standardCard">
        <ng-container card-content>
            <form [formGroup]="formGroup" class="form-container">
                <div class="name-container">
                    <mat-form-field class="name-field">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="firstName" matInput>
                        <mat-error>Ingrese su nombre</mat-error>
                    </mat-form-field>
                    <mat-form-field class="name-field">
                        <mat-label>Apellido</mat-label>
                        <input formControlName="lastName" matInput>
                        <mat-error>Ingrese su apellido</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input formControlName="username" matInput>
                    @if (formGroup.get('username')?.hasError('required')) {
                        <mat-error>Ingrese un usuario</mat-error>
                    }
                    @else if (formGroup.get('username')?.hasError('usernameTaken')) {
                        <mat-error>El usuario ya existe</mat-error>
                    }
                </mat-form-field>         
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput>
                    @if (formGroup.get('email')?.hasError('required')) {
                        <mat-error>Ingrese un correo electrónico</mat-error>
                    }
                    @else if (formGroup.get('email')?.hasError('emailTaken')) {
                        <mat-error>El correo electrónico ingresado ya existe</mat-error>
                    }
                    @else if (formGroup.get('email')?.hasError('email')) {
                        <mat-error>Ingrese un correo electrónico válido</mat-error>
                    }
                </mat-form-field>              
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input  formControlName="password" type="password"  matInput>
                    @if (formGroup.get('password')?.hasError('required')) {
                        <mat-error>Ingrese una contraseña</mat-error>
                        
                    }
                    @else if (formGroup.get('password')?.hasError('passwordStrength')) {
                        <mat-error>
                            Necesitas una contraseña de 8 o más caracteres con letras y números.
                        </mat-error>
                    }
                </mat-form-field>
            </form>

            <div class="button-container">
                <button class="button-wrapper primary" (click)="editUser()" [disabled]="!formGroup.valid || !formChanged">Editar</button>  
            </div>
        </ng-container>
    </stock-standard-card>
</div>