/* You can add global styles to this file, and also import other style files */
@import './scss/main.scss';

html, body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  background-color: $stock-background-primary;
}

a {
  text-decoration: none;
  color: $stock-font-color;
}