.button-wrapper {
    border-radius: 8px;
    width: 150px;
    height: 60px;
    font-family: $stock-font;
    font-size: 16px;

    &.primary:enabled {
        background-color: $stock-primary;
        border: 3px solid #576957;
        color: rgb(22, 22, 25);
    }

    &.primary:hover:enabled{ 
        background-color: $stock-secondary;
        border: 3px solid #66a066;
    }

    &.primary:active:enabled {
        background-color: $stock-third;
        border: 3px solid #9ad6ee;
    }

    &.secondary:enabled {
        background-color: transparent;
        border: 3px solid $stock-primary;
        color: $stock-font-color;
    }

    &.secondary:hover:enabled{ 
        border: 3px solid $stock-secondary;
        background-color: transparent;
        color: $stock-font-color;
    }

    &.secondary:active:enabled {
        background-color: transparent;
        border: 3px solid $stock-third;
    }

    &:disabled {
        background-color: #a6a6a6;
        opacity: 0.3;
        pointer-events: none;
        cursor: none;
    }
}