.overlay {
    position: fixed;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .56);
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
  
    &--active {
      opacity: 1;
      visibility: visible;
      -webkit-animation: fadein .6s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein .6s; /* Firefox < 16 */
      -o-animation: fadein .6s; /* Opera < 12.1 */
      animation: fadein .6s;
    }
  }
  
  .fade-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .56);
    z-index: 10;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    top: 0;
    left: 0;
  }