.multi-spinner-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 50%;
    padding: 1px;
  }
  
  .multi-spinner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: spin 2s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
    animation: spin 2s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  
    &--primary{
      border-top-color: $stock-primary;
  
      &:after {
        border-color: $stock-secondary;
        width: 100%;
        height: 100%;
      }
    }
  
    &--secondary {
      border-top-color: $stock-secondary;
    }
  
    &--third {
      border-top-color: $stock-third;
    }
  }