@import 'constants';
@import 'base';

#summary-page {
  width: 96%;
  min-height:  calc(120vh);
  background-color: #232332;
  margin-top: 80px;
  padding: 30px;
  top: 100vh;
  animation: 1s fadeIn forwards;

  .title-container {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .name-container {
    font-size: 18px;
    margin-bottom: 20px;
    b {
      color: $stock-primary;
    }
  }

  .tab-container {
    margin-right: 30px;

    .table {
      margin-top: 60px;

      .icons {
        display: flex;
        justify-content: center;
        gap: 25px;
      }
      
    }
    margin-bottom: 100px;
  } 


  .empty-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    
    .empty-title {
      font-size: 20px;
    }

    .empty-description {
      font-size: 16px;
    }
  }
}