@import 'constants';
@import 'base';

#summary-page {
  width: 96%;
  min-height:  calc(120vh);
  background-color: #232332;
  margin-top: 80px;
  padding: 30px;
  top: 100vh;
  animation: 1s fadeIn forwards;

  .title-container {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .tab-container {
    margin-right: 30px;

    .table {
      margin-top: 60px;

      .icons {
        display: flex;
        gap: 25px;
      }
      
    }
    margin-bottom: 100px;
  } 
}