@import 'constants';
@import 'base';

#login {
  width: 100%;
  position: relative;

  .login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100vh;
    animation: 1s slideUp forwards, 2s fadeIn forwards;
    width: 100%;

    .login-card {
      margin-top: 50px;
      min-width: 600px;
      background-color: #232332;
      box-shadow: $container-box-shadow;
      border-radius: 15px;
      padding: 15px;

      .title-container {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        gap: 12px;
        
        .title {
          font-size: 38px;
        }

        .description {
          b {
            font-weight: bold;
            color: $stock-primary;
          }
        }
      }
  
      .form-container {
        margin-top: 15px;
        display: flex;
        justify-items: center;
        flex-direction: column;
      }

      .button-container {
        display: flex;
        justify-content: flex-end;
        padding: 8px 
      }

    }

    
  }
}
