<div id="about">
    <div class="main-container">
       
        <div class="text-container">
            <div class="title">
                ¿Quiénes Somos?
            </div>
            <div class="description">
                Somos una plataforma para simular compra y venta de acciones
                 en un entorno realista y seguro. <b>Stock Simulator</b>  es ideal para principiantes y expertos, permitiendo mejorar sus habilidades de inversión sin riesgo financiero.
            </div>
        </div>
    
        <div class="image-container">
            <img [src]="phoneIcon" alt="phone">
        </div>
    </div>
    
</div>
